main{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}


table{
    margin: 50px auto;
}

table,th,thead{
border-collapse: collapse;
border: 1px solid black;
}

th,thead{
    padding: 5px;
}

